# Local
/.vscode/
/env/
/test/
__pycache__/
pip-selfcheck.json
*.pyc

# Pyinstaller
/build/
/dist/Xpanda.exe
/dist/Xpanda.zip
Xpanda.spec

# Documentation
/Documentation/docs_build/
/Documentation/docs_src/ScriptingAPI/
/Documentation/docs_src/ScriptingAPI.md

!.gitkeep
