# Local
/.vscode/
/env/
/test/
__pycache__/
pip-selfcheck.json
*.pyc

# Pyinstaller and py2exe
/build/
/dist/*
!/dist/Xshaders/
Xpanda.spec

# Documentation
/Documentation/docs_build/
/Documentation/docs_src/ScriptingAPI/
/Documentation/docs_src/ScriptingAPI.md

!.gitkeep
